
.validationError {
    color: red;
}

.container {
    padding: 0 100px;
    margin: 0;
}

.navbar li, ul.login-logout {
    display: inline-block;
}

.navbar li {
    height: 100%;
}

.navbar {
    margin: 0;
    padding: 0 40px;
    background-color: #B0BEC5;
    display: flex;
    justify-content: space-between;
}
.navbar a {
    display: inline-block;
    padding: 15px 10px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background-color: #90A4AE;
}

body {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ui.inner-ul {
    margin: 0;
}

form.logout-form {
    height: 100%;
}

.logout-btn {
    background: none;
    border: none;
    height: 100%;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #90A4AE;
}
